{% extends "homebase.html" %}
{% load static %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/demo2.min.css'%}">
{% endblock %}
{% block title %}İndex Sayfası{% endblock  %}
{% block keywords %}İndex Sayfası anahtar kelimeler{% endblock  %}
{% block description %}İndex sayfası açıklama{% endblock %}

{% block body %}
    {%include "homepage.html" %}
{% endblock %}
{% block footer %}
    <!-- Plugins JS File -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'vendor/elevatezoom/jquery.elevatezoom.min.js'%}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'vendor/isotope/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'vendor/skrollr/skrollr.min.js'%}"></script>
    <script src="{% static 'vendor/owl-carousel/owl.carousel.min.js'%}"></script>
    <!-- Main JS File -->
    <script src="{% static 'js/main.min.js'%}"></script>
{% endblock %}